{{ set(this, 'title', 'Gossip 24/7') }}
<style type="text/css">
body {
	background: #fff;
}
h3, h4 {
	color: #203eda;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}
h3 a.title:link, h3 a.title:visited, h4 a.title:link, h4 a.title:visited {
	color: #203eda;
}
h3 a.title:hover, h4 a.title:hover {
	color: #dd0000;
}
#site-header {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}
.world-news-grid {
	width: 47%;
}
.world-news-grid a {
	text-transform: none;
}
.world-news-grid img {
	float: left;
	padding-right: 5px;
	padding-bottom: 5px;
}
.world-news-grid-midsize img {
	float: left;
	padding: 5px;
}
.videos {
	padding: 0.8em 1em 0.5em;
}
.posts { 
	padding: 0;
}
.breaking-news-title {
	width: 100%;
}
.conference-slider img {
	margin: auto;
}
</style>
<div class="news-paper">
	<div id="site-header" class="header">
		<div class="header-left">
			<a href="/">
				<h1><i>gossip</i>247.com</h1>
			</a>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"><br /></div>
	{% if main_story %}
		<div class="main-content">		
			<div class="col-lg-12 total-news">
				<h3><a href="{{ main_story.link }}" class="title" target="_blank">{{ main_story.title|raw }}</a></h3>
				<div class="clearfix"></div>
				<div class="conference-slider">
					{% for image in main_story.storyImage %}
						{% if image.order == 0 %}
							<img src="http://media.gossip247.com/story/{{ image.story_id }}/images/{{ image.image_name }}" class="img-responsive" alt="">
						{% endif %}
					{% endfor %}
					{% if main_story.show_desc %}
						<p>{{ main_story.description|raw }}</p>
					{% endif %}
				</div>
			</div>
			{% if main_story.tags|length > 0 %}	
				<div class="inline">
					{% for tag in main_story.tags %}
						<span style="color: #000;"><i class="fa fa-info-circle fa-fw" style="color: #cf0000;"></i> <a data-featherlight="#tag-id-{{ tag.story_tag_id }}">{{ tag.tag_name }}</a></span>
					{% endfor %}
				</div>
				<div class="hide">
					{% for tag in main_story.tags %}
						<div id="tag-id-{{ tag.story_tag_id }}">{{ tag.description }}</div> 
					{% endfor %}
				</div>
			{% endif %}
			{% if main_story.audio|length > 0 %}
				{% for audio in main_story.audio %}
					<div class="block">
						<span style="color: #000;"><i class="fa fa-volume-up fa-fw" style="color: #cf0000;"></i> <a data-audiocontainer="#audio-id-{{ audio.story_audio_id }}">Listen</a></span>
					</div>
					<div id="audio-id-{{ audio.story_audio_id }}" style="display: none;">
						<p class="text-center"><audio controls><source src="http://media.gossip247.com/story/{{ audio.story_id }}/audio/{{ audio.audio_name }}" type="audio/mpeg">Your browser does not support the audio element.</audio></p> 
					</div>
				{% endfor %}
			{% endif %}	
			{% if main_story.video %}
				<div class="block">
					<span style="color: #000;"><i class="fa fa-video-camera fa-fw" style="color: #cf0000;"></i> <a data-featherlight="#video-id-{{ main_story.video.story_video_id }}">Watch</a></span>
				</div>
				<div class="hide">
					<div id="video-id-{{ main_story.video.story_video_id }}">{{ main_story.video.video_html|raw }}</div> 
				</div>
			{% endif %}	
			<div class="clearfix"></div>
		</div>
	{% endif %}

	{% if story_list %}
		<div class="col-lg-12" style="padding: 0;">
			{% if story_list.featured_list|length > 0 and story_list.side_list|length > 0 %}
				<div class="col-md-8" style="padding-left: 0; padding-right: 0;">
					<div class="world-news">
						{% for story in story_list.featured_list %}
							<div class="world-news-grids">
								<!-- starting horizontal list of featured stories ROW {{loop.index}} -->
								{% if story.featured_list_h|length > 0 %}
									{% for story_h in story.featured_list_h %}
										<div class="world-news-grid-midsize">
											{% if story_h.story_size != 5 %}
												<h3><a href="{{ story_h.link }}" target="_blank" class="title">{{ story_h.title|raw }}</a></h3>
											{% endif %}
											<div>
											{% if story_h.story_size != 5 %}
												{% for image in story_h.storyImage %}
													{% if loop.index < 3 %}
														<img src="http://media.gossip247.com/story/{{ image.story_id }}/images/{{ image.image_name }}" class="img-responsive" alt="">
													{% endif %}
												{% endfor %}
											{% endif %}
												{% if story_h.show_desc %}
													<p>{{ story_h.description|raw }}</p>
												{% endif %}
											</div>
											{% if story_h.tags|length > 0 %}	
												<div class="inline">
													{% for tag in story_h.tags %}
														<span style="color: #000;"><i class="fa fa-info-circle fa-fw" style="color: #cf0000;"></i> <a data-featherlight="#tag-id-{{ tag.story_tag_id }}">{{ tag.tag_name }}</a></span>
													{% endfor %}
												</div>
												<div class="hide">
													{% for tag in story_h.tags %}
														<div id="tag-id-{{ tag.story_tag_id }}">{{ tag.description }}</div> 
													{% endfor %}
												</div>
											{% endif %}
											{% if story_h.audio|length > 0 %}
												{% for audio in story_h.audio %}
													<div class="block">
														<span style="color: #000;"><i class="fa fa-volume-up fa-fw" style="color: #cf0000;"></i> <a data-audiocontainer="#audio-id-{{ audio.story_audio_id }}">Listen</a></span>
													</div>
													<div id="audio-id-{{ audio.story_audio_id }}" style="display: none;">
														<p class="text-center"><audio controls><source src="http://media.gossip247.com/story/{{ audio.story_id }}/audio/{{ audio.audio_name }}" type="audio/mpeg">Your browser does not support the audio element.</audio></p> 
													</div>
												{% endfor %}
											{% endif %}	
											{% if story_h.video %}
												<div class="block">
													<span style="color: #000;"><i class="fa fa-video-camera fa-fw" style="color: #cf0000;"></i> <a data-featherlight="#video-id-{{ story_h.video.story_video_id }}">Watch</a></span>
												</div>
												<div class="hide">
													<div id="video-id-{{ story_h.video.story_video_id }}">{{ story_h.video.video_html|raw }}</div> 
												</div>
											{% endif %}
										</div>
										<div class="clearfix"></div>
									{% endfor %}
								{% endif %}

								<!-- starting vertical list of featured stories ROW {{loop.index}} -->
								{% if story.featured_list_v|length > 0 %}
									{% for story_v in story.featured_list_v %}
										<div class="world-news-grid">
											<h4><a href="{{ story_v.link }}" target="_blank" class="title">{{ story_v.title|raw }}</a></h4>
											<div>
												{% for image in story_v.storyImage %}
													{% if image.order == 0 %}
														<img src="http://media.gossip247.com/story/{{ image.story_id }}/images/{{ image.image_name }}" class="img-responsive" alt="">
													{% endif %}
												{% endfor %}
												{% if story_v.show_desc %}
													<p>{{ story_v.description|raw }}</p>
												{% endif %}
											</div>
											{% if story_v.tags|length > 0 %}	
												<div class="block">
													{% for tag in story_v.tags %}
														<span style="color: #000;"><i class="fa fa-info-circle fa-fw" style="color: #cf0000;"></i> <a data-featherlight="#tag-id-{{ tag.story_tag_id }}">{{ tag.tag_name }}</a></span><br />
													{% endfor %}
												</div>
												<div class="hide">
													{% for tag in story_v.tags %}
														<div id="tag-id-{{ tag.story_tag_id }}">{{ tag.description }}</div> 
													{% endfor %}
												</div>
											{% endif %}
											{% if story_v.audio|length > 0 %}
												{% for audio in story_v.audio %}
													<div class="block">
														<span style="color: #000;"><i class="fa fa-volume-up fa-fw" style="color: #cf0000;"></i> <a data-audiocontainer="#audio-id-{{ audio.story_audio_id }}">Listen</a></span>
													</div>
													<div id="audio-id-{{ audio.story_audio_id }}" style="display: none;">
														<p class="text-center"><audio controls><source src="http://media.gossip247.com/story/{{ audio.story_id }}/audio/{{ audio.audio_name }}" type="audio/mpeg">Your browser does not support the audio element.</audio></p>
													</div>
												{% endfor %}
											{% endif %}	
											{% if story_v.video %}
												<div class="block">
													<span style="color: #000;"><i class="fa fa-video-camera fa-fw" style="color: #cf0000;"></i> <a data-featherlight="#video-id-{{ story_v.video.story_video_id }}" style="font-weight: normal; color: #000;">Watch</a></span>
												</div>
												<div class="hide">
													<div id="video-id-{{ story_v.video.story_video_id }}">{{ story_v.video.video_html|raw }}</div> 
												</div>
											{% endif %}
										</div>
										{% if loop.index % 2 == 0 %}
											<div class="clearfix"></div>
										{% endif %}
									{% endfor %}
								{% endif %}
							</div>
						{% endfor %}
					</div>
					<div class="clearfix"></div>
				</div>

				<div class="col-md-4" style="padding: 0; padding-left: 5px;">
					<div class="world-news-grids">
						{% for side_story in story_list.side_list %}
							<!-- starting side story ROW {{loop.index}} -->
							<div class="world-news-side">
								<h4><a href="{{ side_story.link }}" target="_blank" class="title">{{ side_story.title|raw }}</a></h4>
								<div>
									{% for image in side_story.storyImage %}
										{% if image.order == 0 %}
											<img src="http://media.gossip247.com/story/{{ image.story_id }}/images/{{ image.image_name }}" class="img-responsive" alt="">
										{% endif %}
									{% endfor %}
									{% if side_story.show_desc %}
										<p>{{ side_story.description|raw }}</p>
									{% endif %}
								</div>
								{% if side_story.tags|length > 0 %}	
									<div class="inline">
										{% for tag in side_story.tags %}
											<span style="color: #000;"><i class="fa fa-info-circle fa-fw" style="color: #cf0000;"></i> <a data-featherlight="#tag-id-{{ tag.story_tag_id }}">{{ tag.tag_name }}</a></span><br />
										{% endfor %}
									</div>
									<div class="hide">
										{% for tag in side_story.tags %}
											<div id="tag-id-{{ tag.story_tag_id }}">{{ tag.description }}</div> 
										{% endfor %}
									</div>
								{% endif %}
								{% if side_story.audio|length > 0 %}
									{% for audio in side_story.audio %}
										<div class="block">
											<span style="color: #000;"><i class="fa fa-volume-up fa-fw" style="color: #cf0000;"></i> <a data-audiocontainer="#audio-id-{{ audio.story_audio_id }}">Listen</a></span>
										</div>
										<div id="audio-id-{{ audio.story_audio_id }}" style="display: none;">
											<p class="text-center"><audio controls><source src="http://media.gossip247.com/story/{{ audio.story_id }}/audio/{{ audio.audio_name }}" type="audio/mpeg">Your browser does not support the audio element.</audio></p>
										</div>
									{% endfor %}
								{% endif %}	
								{% if side_story.video %}
									<div class="block">
										<span style="color: #000;"><i class="fa fa-video-camera fa-fw" style="color: #cf0000;"></i> <a data-featherlight="#video-id-{{ side_story.video.story_video_id }}">Watch</a></span>
									</div>
									<div class="hide">
										<div id="video-id-{{ side_story.video.story_video_id }}">{{ side_story.video.video_html|raw }}</div> 
									</div>
								{% endif %}
							</div>
						{% endfor %}
						<div class="clearfix"></div>
					</div>
				</div>
			{% endif %}

			{% if story_list.featured_list|length > 0 and story_list.side_list|length == 0 %}
				<div class="world-news">
					{% for story in story_list.featured_list %}
						<div class="world-news-grids">
							<!-- starting horizontal list of featured stories ROW {{loop.index}} -->
							{% if story.featured_list_h|length > 0 %}
								{% for story_h in story.featured_list_h %}
									<div class="world-news-grid-midsize">
										<h3><a href="{{ story_h.link }}" target="_blank" class="title">{{ story_h.title|raw }}</a></h3>
										<div>
											{% for image in story_h.storyImage %}
												{% if loop.index < 3 %}
													<img src="http://media.gossip247.com/story/{{ image.story_id }}/images/{{ image.image_name }}" class="img-responsive" alt="">
												{% endif %}
											{% endfor %}
											{% if story_h.show_desc %}
												<p>{{ story_h.description|raw }}</p>
											{% endif %}
										</div>
										{% if story_h.tags|length > 0 %}	
											<div class="inline">
												{% for tag in story_h.tags %}
													<span style="color: #000;"><i class="fa fa-info-circle fa-fw" style="color: #cf0000;"></i> <a data-featherlight="#tag-id-{{ tag.story_tag_id }}">{{ tag.tag_name }}</a></span>
												{% endfor %}
											</div>
											<div class="hide">
												{% for tag in story_h.tags %}
													<div id="tag-id-{{ tag.story_tag_id }}">{{ tag.description }}</div> 
												{% endfor %}
											</div>
										{% endif %}
										{% if story_h.audio|length > 0 %}
											{% for audio in story_h.audio %}
												<div class="block">
													<span style="color: #000;"><i class="fa fa-volume-up fa-fw" style="color: #cf0000;"></i> <a data-audiocontainer="#audio-id-{{ audio.story_audio_id }}">Listen</a></span>
												</div>
												<div id="audio-id-{{ audio.story_audio_id }}" style="display: none;">
													<p class="text-center"><audio controls><source src="http://media.gossip247.com/story/{{ audio.story_id }}/audio/{{ audio.audio_name }}" type="audio/mpeg">Your browser does not support the audio element.</audio></p>
												</div>
											{% endfor %}
										{% endif %}	
										{% if story_h.video %}
											<div class="block">
												<span style="color: #000;"><i class="fa fa-video-camera fa-fw" style="color: #cf0000;"></i> <a data-featherlight="#video-id-{{ story_h.video.story_video_id }}">Watch</a></span>
											</div>
											<div class="hide">
												<div id="video-id-{{ story_h.video.story_video_id }}">{{ story_h.video.video_html|raw }}</div> 
											</div>
										{% endif %}
									</div>
									<div class="clearfix"></div>
								{% endfor %}
							{% endif %}

							<!-- starting vertical list of featured stories ROW {{loop.index}} -->
							{% if story.featured_list_v|length > 0 %}
								{% for story_v in story.featured_list_v %}
									<div class="world-news-grid">
										<h4><a href="{{ story_v.link }}" target="_blank" class="title">{{ story_v.title|raw }}</a></h4>
										<div>
											{% for image in story_v.storyImage %}
												{% if image.order == 0 %}
													<img src="http://media.gossip247.com/story/{{ image.story_id }}/images/{{ image.image_name }}" class="img-responsive" alt="">
												{% endif %}
											{% endfor %}
											{% if story_v.show_desc %}
												<p>{{ story_v.description|raw }}</p>
											{% endif %}
										</div>
										{% if story_v.tags|length > 0 %}	
											<div class="block">
												{% for tag in story_v.tags %}
													<span style="color: #000;"><i class="fa fa-info-circle fa-fw" style="color: #cf0000;"></i> <a data-featherlight="#tag-id-{{ tag.story_tag_id }}">{{ tag.tag_name }}</a></span><br />
												{% endfor %}
											</div>
											<div class="hide">
												{% for tag in story_v.tags %}
													<div id="tag-id-{{ tag.story_tag_id }}">{{ tag.description }}</div> 
												{% endfor %}
											</div>
										{% endif %}
										{% if story_v.audio|length > 0 %}
											{% for audio in story_v.audio %}
												<div class="block">
													<span style="color: #000;"><i class="fa fa-volume-up fa-fw" style="color: #cf0000;"></i> <a data-audiocontainer="#audio-id-{{ audio.story_audio_id }}">Listen</a></span>
												</div>
												<div id="audio-id-{{ audio.story_audio_id }}" style="display: none;">
													<p class="text-center"><audio controls><source src="http://media.gossip247.com/story/{{ audio.story_id }}/audio/{{ audio.audio_name }}" type="audio/mpeg">Your browser does not support the audio element.</audio></p>
												</div>
											{% endfor %}
										{% endif %}	
										{% if story_v.video %}
											<div class="block">
												<span style="color: #000;"><i class="fa fa-video-camera fa-fw" style="color: #cf0000;"></i> <a data-featherlight="#video-id-{{ story_v.video.story_video_id }}">Watch</a></span>
											</div>
											<div class="hide">
												<div id="video-id-{{ story_v.video.story_video_id }}">{{ story_v.video.video_html|raw }}</div> 
											</div>
										{% endif %}
									</div>
									{% if loop.index % 3 == 0 %}
										<div class="clearfix"></div>
									{% endif %}
								{% endfor %}
							{% endif %}
						</div>
					{% endfor %}
				</div>
				<div class="clearfix"></div>
			{% endif %}


			{% if story_list.side_list|length > 0 and story_list.featured_list|length == 0 %}
				<div class="world-news">
					<div class="world-news-grids">
						{% for side_story in story_list.side_list %}
							<!-- starting side story ROW {{loop.index}} -->
							<div class="world-news-grid">
								<h4><a href="{{ side_story.link }}" target="_blank" class="title">{{ side_story.title|raw }}</a></h4>
								<div>
									{% for image in side_story.storyImage %}
										{% if image.order == 0 %}
											<img src="http://media.gossip247.com/story/{{ image.story_id }}/images/{{ image.image_name }}" class="img-responsive" alt="">
										{% endif %}
									{% endfor %}
									{% if side_story.show_desc %}
										<p>{{ side_story.description|raw }}</p>
									{% endif %}
								</div>
								{% if side_story.tags|length > 0 %}	
									<div class="inline">
										{% for tag in side_story.tags %}
											<span style="color: #000;"><i class="fa fa-info-circle fa-fw" style="color: #cf0000;"></i> <a data-featherlight="#tag-id-{{ tag.story_tag_id }}">{{ tag.tag_name }}</a></span><br />
										{% endfor %}
									</div>
									<div class="hide">
										{% for tag in side_story.tags %}
											<div id="tag-id-{{ tag.story_tag_id }}">{{ tag.description }}</div> 
										{% endfor %}
									</div>
								{% endif %}
								{% if side_story.audio|length > 0 %}
									{% for audio in side_story.audio %}
										<div class="block">
											<span style="color: #000;"><i class="fa fa-volume-up fa-fw" style="color: #cf0000;"></i> <a data-audiocontainer="#audio-id-{{ audio.story_audio_id }}">Listen</a></span>
										</div>
										<div id="audio-id-{{ audio.story_audio_id }}" style="display: none;">
											<p class="text-center"><audio controls><source src="http://media.gossip247.com/story/{{ audio.story_id }}/audio/{{ audio.audio_name }}" type="audio/mpeg">Your browser does not support the audio element.</audio></p>
										</div>
									{% endfor %}
								{% endif %}	
								{% if side_story.video %}
									<div class="block">
										<span style="color: #000;"><i class="fa fa-video-camera fa-fw" style="color: #cf0000;"></i> <a data-featherlight="#video-id-{{ side_story.video.story_video_id }}">Watch</a></span>
									</div>
									<div class="hide">
										<div id="video-id-{{ side_story.video.story_video_id }}">{{ side_story.video.video_html|raw }}</div> 
									</div>
								{% endif %}
							</div>
							{% if loop.index % 4 == 0 %}
								<div class="clearfix"></div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<div class="clearfix"></div>
			{% endif %}
		</div>
	{% endif %}
	<div class="text-center" style="margin-top: 25px;">
		<div class="copyright text-center">
			<p>Gossip 24/7 &copy; 2017 All rights reserved</p>
		</div>
	</div>
</div>
