{{ set(this, 'title', 'Gossip 24/7') }}
<style type="text/css">
body {
	background: #fff;
}
h3, h4 {
	color: #203eda;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}
h3 a.title:link, h3 a.title:visited, h4 a.title:link, h4 a.title:visited {
	color: #203eda;
}
h3 a.title:hover, h4 a.title:hover {
	color: #dd0000;
}
#site-header {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}
.conference-rslide{
	width: 100%;
}
.world-news-grid {
	width: 30%;
}
.world-news-grid a {
	text-transform: none;
}
.world-news-grid img {
	width: 50%;
	float: left;
	padding-right: 5px;
	padding-bottom: 5px;
}
.world-news-grid-midsize img {
	float: left;
	padding: 5px;
}
.videos {
	padding: 0.8em 1em 0.5em;
}
.posts { 
	padding: 0;
}
.conference-rslide{
	width: 100%;
}
.conference-rslide img {
	width: 796px;
}
.breaking-news-title {
	width: 100%;
}
</style>
<div class="news-paper">
	<div id="site-header" class="header">
		<div class="header-left">
			<a href="/">
				<h1><i>gossip</i>247.com</h1>
			</a>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"><br /></div>
	{% if main_story %}
		<div class="main-content">		
			<div class="col-lg-12 total-news">
				<h3><a href="{{ main_story.link }}" class="title" target="_blank">{{ main_story.title|raw }}</a></h3>
				<div class="clearfix"></div>
				<div class="conference-slider">
					{% for image in main_story.storyImage %}
						{% if image.order == 0 %}
							<img src="http://media.gossip247.com/story/{{ image.story_id }}/images/{{ image.image_name }}" style="max-width: 888px;" alt="">
						{% endif %}
					{% endfor %}
					{% if main_story.show_desc %}
						<p>{{ main_story.description|raw }}</p>
					{% endif %}
				</div>
			</div>
			{% if main_story.tags|length > 0 %}	
				<div class="inline">
					{% for tag in main_story.tags %}
						<span style="color: #000;"><i class="fa fa-info-circle fa-fw" style="color: #cf0000;"></i> {{ tag.tag_name }}</span> 
					{% endfor %}
				</div>
			{% endif %}	
			<div class="clearfix"></div>
		</div>
	{% endif %}

	{% if story_list %}
		<div class="col-lg-12" style="padding: 0;">
			{% if story_list.featured_list|length > 0 and story_list.side_list|length > 0 %}
				<div class="col-md-9" style="padding-left: 0; padding-right: 0;">
					<div class="world-news">
						{% for story in story_list.featured_list %}
							<div class="world-news-grids">
								<!-- starting horizontal list of featured stories ROW {{loop.index}} -->
								{% if story.featured_list_h|length > 0 %}
									{% for story_h in story.featured_list_h %}
										<div class="world-news-grid-midsize">
											{% if story_h.story_size != 5 %}
												<h3><a href="{{ story_h.link }}" target="_blank" class="title">{{ story_h.title|raw }}</a></h3>
											{% endif %}
											<div>
											{% if story_h.story_size != 5 %}
												{% for image in story_h.storyImage %}
													{% if loop.index < 3 %}
														<img src="http://media.gossip247.com/story/{{ image.story_id }}/images/{{ image.image_name }}" style="max-width: 250px;" alt="">
													{% endif %}
												{% endfor %}
											{% endif %}
												{% if story_h.show_desc %}
													<p>{{ story_h.description|raw }}</p>
												{% endif %}
											</div>
											{% if story_h.tags|length > 0 %}	
												<div class="inline">
													{% for tag in story_h.tags %}
														<span style="color: #000;"><i class="fa fa-info-circle fa-fw" style="color: #cf0000;"></i> {{ tag.tag_name }}</span> 
													{% endfor %}
												</div>
											{% endif %}
										</div>
										<div class="clearfix"></div>
									{% endfor %}
								{% endif %}

								<!-- starting vertical list of featured stories ROW {{loop.index}} -->
								{% if story.featured_list_v|length > 0 %}
									{% for story_v in story.featured_list_v %}
										<div class="world-news-grid">
											<h4><a href="{{ story_v.link }}" target="_blank" class="title">{{ story_v.title|raw }}</a></h4>
											<div>
												{% for image in story_v.storyImage %}
													{% if image.order == 0 %}
														<img src="http://media.gossip247.com/story/{{ image.story_id }}/images/{{ image.image_name }}" style="max-width: 150px;" alt="">
													{% endif %}
												{% endfor %}
												{% if story_v.show_desc %}
													<p>{{ story_v.description|raw }}</p>
												{% endif %}
											</div>
											{% if story_v.tags|length > 0 %}	
												<div class="block">
													{% for tag in story_v.tags %}
														<span style="color: #000;"><i class="fa fa-info-circle fa-fw" style="color: #cf0000;"></i> {{ tag.tag_name }}</span><br />
													{% endfor %}
												</div>
											{% endif %}
										</div>
										{% if loop.index % 3 == 0 %}
											<div class="clearfix"></div>
										{% endif %}
									{% endfor %}
								{% endif %}
							</div>
						{% endfor %}
					</div>
					<div class="clearfix"></div>
				</div>

				<div class="col-md-3" style="padding: 0; padding-left: 5px;">
					<div class="world-news-grids">
						{% for side_story in story_list.side_list %}
							<!-- starting side story ROW {{loop.index}} -->
							<div class="world-news-side">
								<h4><a href="{{ side_story.link }}" target="_blank" class="title">{{ side_story.title|raw }}</a></h4>
								<div>
									{% for image in side_story.storyImage %}
										{% if image.order == 0 %}
											<img src="http://media.gossip247.com/story/{{ image.story_id }}/images/{{ image.image_name }}" style="max-width: 150px;" alt="">
										{% endif %}
									{% endfor %}
									{% if side_story.show_desc %}
										<p>{{ side_story.description|raw }}</p>
									{% endif %}
								</div>
								{% if side_story.tags|length > 0 %}	
									<div class="inline">
										{% for tag in side_story.tags %}
											<span style="color: #000;"><i class="fa fa-info-circle fa-fw" style="color: #cf0000;"></i> {{ tag.tag_name }}</span><br />
										{% endfor %}
									</div>
								{% endif %}
							</div>
						{% endfor %}
						<div class="clearfix"></div>
					</div>
				</div>
			{% endif %}

			{% if story_list.featured_list|length > 0 and story_list.side_list|length == 0 %}
				<div class="world-news">
					{% for story in story_list.featured_list %}
						<div class="world-news-grids">
							<!-- starting horizontal list of featured stories ROW {{loop.index}} -->
							{% if story.featured_list_h|length > 0 %}
								{% for story_h in story.featured_list_h %}
									<div class="world-news-grid-midsize">
										<h3><a href="{{ story_h.link }}" target="_blank" class="title">{{ story_h.title|raw }}</a></h3>
										<div>
											{% for image in story_h.storyImage %}
												{% if loop.index < 3 %}
													<img src="http://media.gossip247.com/story/{{ image.story_id }}/images/{{ image.image_name }}" style="max-width: 250px;" alt="">
												{% endif %}
											{% endfor %}
											{% if story_h.show_desc %}
												<p>{{ story_h.description|raw }}</p>
											{% endif %}
										</div>
										{% if story_h.tags|length > 0 %}	
											<div class="inline">
												{% for tag in story_h.tags %}
													<span style="color: #000;"><i class="fa fa-info-circle fa-fw" style="color: #cf0000;"></i> {{ tag.tag_name }}</span> 
												{% endfor %}
											</div>
										{% endif %}
									</div>
									<div class="clearfix"></div>
								{% endfor %}
							{% endif %}

							<!-- starting vertical list of featured stories ROW {{loop.index}} -->
							{% if story.featured_list_v|length > 0 %}
								{% for story_v in story.featured_list_v %}
									<div class="world-news-grid">
										<h4><a href="{{ story_v.link }}" target="_blank" class="title">{{ story_v.title|raw }}</a></h4>
										<div>
											{% for image in story_v.storyImage %}
												{% if image.order == 0 %}
													<img src="http://media.gossip247.com/story/{{ image.story_id }}/images/{{ image.image_name }}" style="max-width: 150px;" alt="">
												{% endif %}
											{% endfor %}
											{% if story_v.show_desc %}
												<p>{{ story_v.description|raw }}</p>
											{% endif %}
										</div>
										{% if story_v.tags|length > 0 %}	
											<div class="block">
												{% for tag in story_v.tags %}
													<span style="color: #000;"><i class="fa fa-info-circle fa-fw" style="color: #cf0000;"></i> {{ tag.tag_name }}</span><br />
												{% endfor %}
											</div>
										{% endif %}
									</div>
									{% if loop.index % 3 == 0 %}
										<div class="clearfix"></div>
									{% endif %}
								{% endfor %}
							{% endif %}
						</div>
					{% endfor %}
				</div>
				<div class="clearfix"></div>
			{% endif %}


			{% if story_list.side_list|length > 0 and story_list.featured_list|length == 0 %}
				<div class="world-news">
					<div class="world-news-grids">
						{% for side_story in story_list.side_list %}
							<!-- starting side story ROW {{loop.index}} -->
							<div class="world-news-grid">
								<h4><a href="{{ side_story.link }}" target="_blank" class="title">{{ side_story.title|raw }}</a></h4>
								<div>
									{% for image in side_story.storyImage %}
										{% if image.order == 0 %}
											<img src="http://media.gossip247.com/story/{{ image.story_id }}/images/{{ image.image_name }}" style="max-width: 150px;" alt="">
										{% endif %}
									{% endfor %}
									{% if side_story.show_desc %}
										<p>{{ side_story.description|raw }}</p>
									{% endif %}
								</div>
								{% if side_story.tags|length > 0 %}	
									<div class="inline">
										{% for tag in side_story.tags %}
											<span style="color: #000;"><i class="fa fa-info-circle fa-fw" style="color: #cf0000;"></i> {{ tag.tag_name }}</span><br />
										{% endfor %}
									</div>
								{% endif %}
							</div>
							{% if loop.index % 4 == 0 %}
								<div class="clearfix"></div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<div class="clearfix"></div>
			{% endif %}
		</div>
	{% endif %}
	<div class="text-center" style="margin-top: 25px;">
		<div class="copyright text-center">
			<p>Gossip 24/7 &copy; 2016 All rights reserved</p>
		</div>
	</div>
</div>
