{{ use('yii\widgets\ActiveForm')}}
{% if media_assets %}
	<!-- Image Block -->
	<div class="col-lg-4">
		{% if media_assets.images %}
			<label>Image List:</label><br />
			<div class="image-list list-group">
				{% for image in media_assets.images %}
					<div data-storyimageid="{{ image.story_image_id }}" class="list-group-item">
						<a data-imagesrc="http://media.gossip247.com/story/{{ image.story_id }}/images/{{ image.image_name }}">{{ image.image_name }}</a>
						<input type="number" data-storyimageid="{{ image.story_image_id }}" value="{{image.order != '' ? image.order : 100 }}" name="order" style="display: none;" />
						<button class="close" type="button" data-storyimageid="{{ image.story_image_id }}">×</button>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<p align="center"><strong>There are no images for this story.</strong></p>
		{% endif%}
		{% set form = active_form_begin({
		    'id' : 'upload-form',
		    'options' : {
		    	'class' : 'form-vertical',
		    	'enctype' : 'multipart/form-data'
		    },
		    'action' : '/media/upload',
		    'enableAjaxValidation' : true,
		    'ajaxParam' : 'ajax'
		}) %}
			{{ form.field(model, 'imageFile').fileInput({'accept' : 'image/*'}).label('Add New Image') | raw }}
			{{ form.field(model, 'story_id').hiddenInput({'value' : media_assets.story_id}).label(false) | raw }}
			<div class="form-group">
		        <input type="submit" value="UPLOAD IMAGE" class="btn btn-primary" />
		    </div>
		{{ active_form_end() }}
	</div>
	<!-- End Image Block -->
	<script>
	<!--
		loadAssetUtilities();
	//-->
	</script>
{% else %}
	<p align="center"><strong>Move along! Nothing to see here!</strong></p>
{% endif %}