{{ use('yii\widgets\ActiveForm')}}
{% if media_assets %}
	<!-- Image Block -->
	<div class="col-lg-4">
		{% if media_assets.images %}
			<label>Image List:</label><br />
			<div class="list-group">
				{% for image in media_assets.images %}
					<div data-storyimageid="{{ image.story_image_id }}" class="list-group-item">
						{{ image.image_name }}
						<button class="close" type="button" data-storyimageid="{{ image.story_image_id }}">×</button>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<p align="center"><strong>There are no images for this story.</strong></p>
		{% endif%}
		{% set form = active_form_begin({
		    'id' : 'upload-form',
		    'options' : {
		    	'class' : 'form-vertical',
		    	'enctype' : 'multipart/form-data'
		    },
		    'action' : '/media/upload',
		    'enableAjaxValidation' : true,
		    'ajaxParam' : 'ajax'
		}) %}
			{{ form.field(model, 'imageFile').fileInput({'accept' : 'image/*'}).label('Add New Image') | raw }}
			{{ form.field(model, 'story_id').hiddenInput({'value' : media_assets.story_id}).label(false) | raw }}
			<div class="form-group">
		        <input type="submit" value="UPLOAD IMAGE" class="btn btn-primary" />
		    </div>
		{{ active_form_end() }}
	</div>
	<!-- End Image Block -->
	<script>
	<!--
		$('button.close').click(function(){
			removeImage($(this).data('storyimageid'));
		});
		var files;
		// Add events
		$('input[type="file"]').on('change', prepareUpload);

		// Grab the files and set them to our variable
		function prepareUpload(event){
		  files = event.target.files;
		}
		// process the form
	    $('#upload-form').submit(function(event) {
	    	statusApp.showPleaseWait();
	    	// stop the form from submitting the normal way and refreshing the page
	        event.preventDefault();
	    	// Create a formdata object and add the files
		    data = new FormData();
		    $.each(files, function(key, value)
		    {
		        data.append(key, value);
		    });
		    data.append('story_id', $('#storyimage-story_id').val());
		    data.append('StoryImage[imageFile]', $('#storyimage-imagefile').val());

	        // process the form
	        $.ajax({
		        url: '/media/upload',
		        type: 'POST',
		        data: data,
		        dataType: 'json',
		        processData: false, // Don't process the files
		        contentType: false, // Set content type to false as jQuery will tell the server its a query string request
		        success: function(data, textStatus, jqXHR){  
		        	statusApp.hidePleaseWait();

			        // report validation errors
			        reportFormErrors(data.errors);

	                //refresh media
	                if(data.save_success){
	                	refreshMedia($('#storyimage-story_id').val());
	                }
		        }
		    }); 
	    });
	//-->
	</script>
{% else %}
	<p align="center"><strong>Move along! Nothing to see here!</strong></p>
{% endif %}