{% if media_assets %}
	<label>Audio File:</label><br />
	<div class="audio-list list-group">
		{% for audio in media_assets.audio %}
			<div data-storyaudioid="{{ audio.story_audio_id }}" class="list-group-item">
				<a data-audiosrc="http://media.gossip247.com/story/{{ audio.story_id }}/audio/{{ audio.audio_name }}">{{ audio.audio_name }}</a>
				<button class="close" type="button" data-storyaudioid="{{ audio.story_audio_id }}" data-storyid="{{ audio.story_id }}">×</button>
			</div>
		{% endfor %}
	</div>
{% else %}
	<p align="center"><strong>There is no audio for this story.</strong></p>
{% endif%}