{{ set(this, 'title', 'Gossip 24/7 Blog') }}
<div class="news-paper">
	<div id="site-header" class="header">
		<div class="header-left">
			<a href="/">
				<h1><i>gossip</i>247.com</h1>
			</a>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"><br /></div>
	<div class="col-lg-12 main-content">		
		<div class="col-lg-9 total-news">
			<h3><a href="{{ story.link }}" class="title" target="_blank">{{ story.title|raw }}</a></h3>
			<div class="clearfix"></div>
			<div class="conference-slider">
				{% for image in story.storyImage %}
					{% if image.order == 0 %}
						<img src="http://media.gossip247.com/story/{{ image.story_id }}/images/{{ image.image_name }}" class="img-responsive" alt="">
					{% endif %}
				{% endfor %}
				{% if story.show_desc %}
					<p>{{ story.description|raw }}</p>
				{% endif %}
			</div>
			<div class="col-md-12">
				{% include "inline_tag_list_fragment.twig" %}
			</div>
		</div>	
		<div class="col-md-3" style="padding: 0; padding-left: 5px;">
			<div class="world-news-grids">
				{% for side_story in side_stories %}
					{% if loop.index < 4 %}
						{% set story = side_story %}
						<!-- starting side story ROW {{loop.index}} -->
						<div class="world-news-side">
							<div class="side-story-container">
								{% include "side_story_fragment.twig" %}
							</div>
						</div>
						<div class="clearfix"></div>
					{% endif %}
				{% endfor %}
				<div class="clearfix"></div>
			</div>	
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="world-news">
		<div class="world-news-grids" style="display: table;">
			{% for side_story in side_stories[4:] %}
				{% if loop.index is odd %}
					<div style="display: table-row;">
				{% endif %}
				{% set story = side_story %}
				<!-- starting side story ROW {{loop.index}} -->
				<div class="world-news-grid" style="display: table-cell;">
					<div class="side-story-container">
						{% include "side_story_fragment.twig" %}
					</div>
				</div>
				{% if loop.index is even %}
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<div class="clearfix"></div>
	
	<div id="site-footer">
		<div class="copyright text-center">
			<p>Gossip 24/7 &copy; {{ currentYear }} All rights reserved</p>
		</div>
	</div>
</div>