{% if story_list %}
	<div class="pull-right btn-group" style="margin-top: -62px; font-weight: bold; color: #fff;">
		<span class="btn" style="font-weight: bold; color: #fff;"><i class="fa fa-newspaper-o fa-fw"></i> Story Count: <span id="story_count">{{story_count}}</span></span><span class="btn" style="font-weight: bold; color: #fff;"><i class="fa fa-eye fa-fw"></i> Visisble Stories: <span id="visible_story_count">{{visible_story_count}}</span></span>
	</div>
	<div class="panel-group" id="accordion" aria-multiselectable="true" role="tablist">
		{% for entry in story_list %}
			<div data-storypid="{{entry.storyPriority.story_priority_id}}" data-story="{{entry.story_id}}" class="panel 
				{% if entry.story_size == 1 %}
					panel-green
				{% elseif entry.story_size == 2 %}
					panel-info
				{% elseif entry.story_size == 3 %}
					panel-warning
				{% else %}
					panel-default
				{% endif %}
			">
		        <div id="heading-{{loop.index}}" role="tab" class="panel-heading">
		          	<div class="col-lg-8">
		          		<h4 class="panel-title">
			            	<a aria-controls="collapse-{{entry.story_id}}" aria-expanded="false" href="#collapse-{{entry.story_id}}" data-parent="#accordion" data-toggle="collapse" role="button">
			            		<label for="title">Title:</label> {{ entry.title|length > 75 ? entry.title|slice(0, 75) ~ '...' : entry.title  }}
			            	</a>
			            </h4>
			        </div>
			        <div class="col-lg-3 story_date">
						<label for="date">Date:</label> {{ entry.story_date != "" ? entry.story_date|date('m/d/y h:iA') : "N/A" }}
					</div>
					<div class="col-lg-1">
		            	<button data-story="{{entry.story_id}}" data-visible="{{entry.visible}}">
		            		{{ entry.visible ? '<i class="fa fa-eye fa-fw"></i>' : '<i class="fa fa-eye-slash fa-fw"></i>' }}		
						</button>
					</div>
		        </div>
		        <div aria-labelledby="heading-{{entry.story_id}}" role="tabpanel" class="panel-collapse collapse" id="collapse-{{entry.story_id}}">
		          	<div id="story-tabs-{{entry.story_id}}" class="panel-body">
		          		<ul>
						    <li><a href="#edit-story-fragment-{{entry.story_id}}"><span>Edit Story</span></a></li>
						    <li><a href="#edit-tags-fragment-{{entry.story_id}}"><span>Select Tags</span></a></li>
						    <li><a href="#edit-images-fragment-{{entry.story_id}}"><span>Edit Images</span></a></li>
						    <li><a href="#edit-audio-fragment-{{entry.story_id}}"><span>Edit Audio</span></a></li>
						    <li><a href="#edit-video-fragment-{{entry.story_id}}"><span>Edit Video</span></a></li>
						</ul>
		            	<div id="edit-story-fragment-{{entry.story_id}}" class="row">
		            		{% include "story_fragment.twig" %}
						</div>
						<div id="edit-tags-fragment-{{entry.story_id}}" class="row">
		            		{% include "tag_fragment.twig" %}
						</div>
						<div id="edit-images-fragment-{{entry.story_id}}" class="row">
		            		{% include "image_fragment.twig" %}
						</div>
						<div id="edit-audio-fragment-{{entry.story_id}}" class="row">
		            		{% include "audio_fragment.twig" %}
						</div>
						<div id="edit-video-fragment-{{entry.story_id}}" class="row">
		            		{% include "video_fragment.twig" %}
						</div>
		          	</div>
		        </div>
		    </div>
		{% endfor %}
	</div>	
{% else %}
	<p align="center"><strong>Move along! Nothing to see here!</strong></p>
{% endif %}