{% if story_list %}
	<div class="panel-group" id="accordion" aria-multiselectable="true" role="tablist">
		{% for entry in story_list %}
			<div data-storypid="{{entry.storyPriority.story_priority_id}}" data-story="{{entry.story_id}}" class="panel 
				{% if entry.story_size == 1 %}
					panel-green
				{% elseif entry.story_size == 2 %}
					panel-info
				{% elseif entry.story_size == 3 %}
					panel-warning
				{% else %}
					panel-default
				{% endif %}
			">
		        <div id="heading-{{loop.index}}" role="tab" class="panel-heading">
		          	<div class="col-lg-8">
		          		<h4 class="panel-title">
			            	<a aria-controls="collapse-{{entry.story_id}}" aria-expanded="false" href="#collapse-{{entry.story_id}}" data-parent="#accordion" data-toggle="collapse" role="button">
			            		<label for="title">Title:</label> {{ entry.title|length > 75 ? entry.title|slice(0, 75) ~ '...' : entry.title  }}
			            	</a>
			            </h4>
			        </div>
			        <div class="col-lg-3 story_date">
						<label for="date">Date:</label> {{ entry.story_date != "" ? entry.story_date|date('m/d/y h:iA') : "N/A" }}
					</div>
					<div class="col-lg-1">
		            	<button data-story="{{entry.story_id}}" data-visible="{{entry.visible}}">
		            		{{ entry.visible ? '<i class="fa fa-eye fa-fw"></i>' : '<i class="fa fa-eye-slash fa-fw"></i>' }}		
						</button>
					</div>
		        </div>
		        <div aria-labelledby="heading-{{entry.story_id}}" role="tabpanel" class="panel-collapse collapse" id="collapse-{{entry.story_id}}">
		          	<div class="panel-body">
		            	<div class="row">
							<div class="col-lg-3">
								<label for="title">Title</label><br />
								<input class="form-control" name="title" value="{{entry.title}}" placeholder="Enter your title here" />
							</div>
							<div class="col-lg-3">
								<label for="story_size">Story Size</label><br />
								<select class="form-control" name="story_size">
									<option value="1" {{ entry.story_size == 1 ? "selected" : "" }}>Main Story</option>
									<option value="2" {{ entry.story_size == 2 ? "selected" : "" }}>Featured Story - Horizontal</option>
									<option value="3" {{ entry.story_size == 3 ? "selected" : "" }}>Featured Story - Vertical</option>
									<option value="4" {{ entry.story_size == 4 ? "selected" : "" }}>Side Story</option>
								</select>
							</div>
							<div class="col-lg-3">
								<label for="link">Link</label><br />
								<input class="form-control" name="link" value="{{ entry.link }}" placeholder="Enter your link here" />
							</div>
							<div class="col-lg-3">
								<label for="show_desc">Show description?</label><br />
								<label class="radio-inline">
                                    <input type="radio" {{ entry.show_desc ? 'checked' : "" }} value="1" name="show_desc_{{ entry.story_id }}"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" {{ entry.show_desc ? "" : 'checked' }} value="0" name="show_desc_{{ entry.story_id }}"> No
                                </label>
							</div>
						</div>
						<div class="clear"><br /></div>
						<div class="row">
							<div class="col-lg-12">
								<label for="description">Description</label><br />
								<textarea class="form-control" name="description" placeholder="Enter your story here">{{entry.description}}</textarea>
							</div>
							<div class="clear"><br /></div>
							<div class="pull-right" style="margin-right: 20px;">
								<input type="button" data-story="{{entry.story_id}}" name="deleteBtn" class="btn btn-danger" value="DELETE STORY" />
							</div>
							<div class="pull-right" style="margin-right: 20px;">
								<input type="button" data-story="{{entry.story_id}}" name="saveBtn" class="btn btn-info" value="SAVE STORY" />
							</div>
						</div>
		          	</div>
		        </div>
		    </div>
		{% endfor %}
	</div>	
{% else %}
	<p align="center"><strong>Move along! Nothing to see here!</strong></p>
{% endif %}