<div class="world-news-grid-midsize">
	{% if story.story_size != story_type.ADVERTISEMENT %}
		<h3><a href="{{ story.link }}" target="_blank" class="title">{{ story.title|raw }}</a></h3>
		{% set image_num_limit = 3 %}
		{% for image in story.storyImage %}
			{% if loop.index < image_num_limit %}
				<img src="http://media.gossip247.com/story/{{ image.story_id }}/images/{{ image.image_name }}" class="img-responsive" alt="">
			{% endif %}
		{% endfor %}
		{% if story.show_desc %}
			<p>{{ story.description|raw }}</p>
		{% endif %}
	{% else %}
		<p>{{ story.description|raw }}</p>
	{% endif %}
	{% include "inline_tag_list_fragment.twig" %}
</div>