{{ set(this, 'title', 'Gossip 24/7') }}
{% set story_type = {'MAIN': 1,'FEATURED_HORIZONTAL': 2,'FEATURED_VERTICAL': 3,'SIDE': 4,'ADVERTISEMENT': 5} %}
<div class="news-paper">
	<div id="site-header" class="header">
		<div class="header-left">
			<a href="/">
				<h1><i>gossip</i>247.com</h1>
			</a>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"><br /></div>
	{% if main_story %}
		{% set story = main_story %}
		<div class="main-content">		
			{% include "main_story_fragment.twig" %}
			<div class="clearfix"></div>
		</div>
	{% endif %}

	{% if story_list %}
		<div class="col-lg-12 story-list">
			{% if story_list.featured_list|length > 0 and story_list.side_list|length > 0 %}
				<div class="col-md-8 featured-story-list">
					<div class="world-news">
						{% for stories in story_list.featured_list %}
							<div class="world-news-grids">
								<!-- starting horizontal list of featured stories ROW {{loop.index}} -->
								{% if stories.featured_list_h|length > 0 %}
									{% for story in stories.featured_list_h %}
										{% include "featured_horizontal_story_fragment.twig" %}
										<div class="clearfix"></div>
									{% endfor %}
								{% endif %}

								<!-- starting vertical list of featured stories ROW {{loop.index}} -->
								{% if stories.featured_list_v|length > 0 %}
									{% for story in stories.featured_list_v %}
										{% include "featured_vertical_story_fragment.twig" %}
										{% if loop.index % 2 == 0 %}
											<div class="clearfix"></div>
										{% endif %}
									{% endfor %}
								{% endif %}
							</div>
						{% endfor %}
					</div>
					<div class="clearfix"></div>
				</div>

				<div class="col-md-4 side-story-list">
					<div class="world-news-grids">
						{% for story in story_list.side_list %}
							<!-- starting side story ROW {{loop.index}} -->
							<div class="world-news-side">
								<div class="side-story-container">
									{% include "side_story_fragment.twig" %}
								</div>
							</div>
							<div class="clearfix"></div>
						{% endfor %}
						<div class="clearfix"></div>
					</div>
				</div>
			{% endif %}

			{% if story_list.featured_list|length > 0 and story_list.side_list|length == 0 %}
				<div class="world-news">
					{% for stories in story_list.featured_list %}
						<div class="world-news-grids">
							<!-- starting horizontal list of featured stories ROW {{loop.index}} -->
							{% if stories.featured_list_h|length > 0 %}
								{% for story in stories.featured_list_h %}
									{% include "featured_horizontal_story_fragment.twig" %}
									<div class="clearfix"></div>
								{% endfor %}
							{% endif %}

							<!-- starting vertical list of featured stories ROW {{loop.index}} -->
							{% if stories.featured_list_v|length > 0 %}
								{% for story in stories.featured_list_v %}
									{% include "featured_vertical_story_fragment.twig" %}
									{% if loop.index % 3 == 0 %}
										<div class="clearfix"></div>
									{% endif %}
								{% endfor %}
							{% endif %}
						</div>
					{% endfor %}
				</div>
				<div class="clearfix"></div>
			{% endif %}


			{% if story_list.side_list|length > 0 and story_list.featured_list|length == 0 %}
				<div class="world-news">
					<div class="world-news-grids">
						{% for story in story_list.side_list %}
							<!-- starting side story ROW {{loop.index}} -->
							<div class="world-news-grid">
								{% include "side_story_fragment.twig" %}
							</div>

							{% if loop.index % 4 == 0 %}
								<div class="clearfix"></div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<div class="clearfix"></div>
			{% endif %}
		</div>
	{% endif %}
	<div class="clearfix"></div>
	<div id="site-footer">
		<div class="copyright">
			<p>Gossip 24/7 &copy; {{ currentYear }} All rights reserved</p>
		</div>
	</div>
</div>
